# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Builds
# =========================
dist/
build/

# =========================
# Vite / React
# =========================
.vite/
.vscode/
.eslintcache

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
logs/
*.log
